body {
    background-color: #eee;
}

.container{
  margin-top: 20px;
  padding: 20px;
}

.top-navbar{
  background: #34495e;
  color: #FFFFFF;
  padding: 5px;
}

.nav-link {
  list-style-type: none;
  float: both;
}

.nav-link > li {
  margin-top: 5px;
  display: inline-block;
  margin-right: 20px;
}

.nav-link > li > a{
  color: #FFFFFF;
}

.form-control{
  margin-bottom: 20px;
}

.form-group {
}

.button-right{ 
  text-align: right;
}

.signup,.login {
  height: 400px;
  padding:20px;
  background: #FFFFFF;
  box-shadow: 1px 1px 4px #888888;
}
